.float-box{
    float: left;
    background-color: blueviolet;
    width: 200px;
    height: 200px;
}
.zindex-box1{
    position: absolute;
    background-color: aqua;
    top: 50px;
    left: 100px;
    z-index: 2;
    width: 150px;
    height: 150px;
}
.zindex-box2 {
    position: absolute;
    background-color: brown;
    top: 100px;
    left: 150px;
    z-index: 1;
    width: 150px;
    height: 150px;
}
body{
    background-color: aliceblue;
    align-items: center;
  
    position: relative;
}